body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}
.container {
    margin: 100px;
    background: gray;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
input {
    margin: 5px 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}
.result {
    margin-top: 10px;
    font-weight: bold;
    padding: 50px;
}